/* GLOBAL */
.section{
  margin-top: 100px;
}
/* BUTTONS ---------------------------------------------------------------- */
.rnd-btn{
  border-radius: 20px;
}
.grey-blue-btn{
  color: #0041E7;
  background-color: #D9DADC;
}
.red-out-btn:hover{
  outline: 2px solid #DC3545;
  outline-offset: 3px;
}
.blue-out-btn:hover{
  outline: 2px solid #0D6EFD;
  outline-offset: 3px;
}
.grey-out-btn:hover{
  outline: 2px solid #D9DADC;
  outline-offset: 3px;
  color: #0041E7;
}
.white-out-btn:hover{
  outline: 2px solid #fff;
  outline-offset: 3px;
}
/* HEADER ----------------------------------------------------------------*/
header{
  height: 100px;
}
.top-nav{
  background-color: #000;
  height: 30px;
  text-align: end;
}
.top-nav .sony-logo{
  width: 100px;
  height: 20px;
}
.bottom-nav{
  height: 70px;
  background-color: #fff;
}
.lv_navbar{
  height: 70px;
}
/* jumbotron -------------------------------------------------------------*/
.jumbotron{
  margin-top: 100px;
  background-image: url(../img/jumbo-bg.png);
  background-position: center top;
  background-size: cover;
}
.jumbo_img{
  width: 250px
}
.lv_row_jumbo{
  min-height: 500px;
  padding-bottom: 50px;
}
/* jumbo bottom section -------------------------------------------------------------*/
.jumbo-game-card{
  margin-top: 10px;
  text-align: center;
  border-radius: 20px;
  opacity: 0.5;
  cursor: pointer;
}
.jumbo-game-card.active{
  border-radius: 20px;
  border: 3px solid #0061CB;
  opacity: 1;
}
.jumbo-game-card:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 15px 35px black;
  opacity: 1;
}
.jumbo-game-card img{
  width: 100%;
  padding: 2px;
  border-radius: inherit;
}

/* motto section -------------------------------------------------------------*/
.play_motto{
  color: #0061CB;
}
.lv_img_play5{
  width: 100%;
}
#play5{
  width: 100%;
}
/* ps5 items -------------------------------------------------------------*/
.lv_card{
  text-align: center;
  border: none;
  cursor: pointer;
}
.lv_card{
  opacity: 0.5;
}
.lv_card.active{
  border-bottom: 4px solid#0061CB;
  opacity: 1;
}
.lv_card img{
  width: 60%;
  margin: 0 auto;
}
.lv_card:hover{
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
/* middle jumbotron -------------------------------------------------------------*/
.jumbotron_middle{
  margin-top: 30px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.jumbo_img_middle{
  width: 250px
}
.lv_row_jumbo_middle{
  min-height: 500px;
  padding-bottom: 50px;
}
/* new games section -------------------------------------------------------------*/
.new-game-title, .lv_card_games{
  color: #fff;
}
.lv_card_games{
  border: none;
  cursor: pointer;
}
.lv_card_games img{
  border-radius: 20px;
}
/* ps plus section -------------------------------------------------------------*/
.ps_plus{
  background-color: #BEBCBB;
}
#logo_plus{
  width: 60%;
}
#ps_plus_free{
  width: 100%;
  height: 100%;
}
/* sales section -------------------------------------------------------------*/
.game_sales_card img{
  width: 100%;
  border-radius: 15px;
}
.game_sales_card:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
/* social tab -------------------------------------------------------------*/
.row_social img{
  max-width: 100%;
  border-radius: 30%;
  padding: 15px 0;
  cursor: pointer;
}
/* FOOTER -------------------------------------------------------------*/
#lng_globe{
  width: 20px;
}
#logo_sie{
  width: 150px;
}
.region_menu{
  font-size: 0.9rem
}
.row_links{
  margin-left: 30px;
}
.links_footer dl dd a{
  color: #fff;
  text-decoration: none;
}
.links_footer dl dd a:hover{
  text-decoration: underline;
}

/* RESPONSIVE -------------------------------------------------------------*/
@media all and (min-width:576px) {
  #ps_plus_free{
    width: 80%;
  }
  #logo_plus{
    width: 60%;
  }
}
