/* GLOBAL */
.section{
  margin-top: 100px;
}

/* HEADER */
header{
  height: 100px;
  background-color: aquamarine;
}
.top-nav{
  background-color: #000;
  height: 30px;
  text-align: end;
}
.top-nav .sony-logo{
  width: 100px;
  height: 20px;
}
.bottom-nav{
  height: 70px;
  background-color: #fff;
}
.lv_navbar{
  height: 70px;
}

/* jumbotron */
.jumbotron{
  margin-top: 100px;
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
  min-height: 700px;
}
.jumbo_img{
  width: 250px
}
.lv_row_jumbo{
  min-height: 500px;
  padding-bottom: 50px;
}

/* jumbo bottom section */
.jumbo-game-card{
  margin-top: 10px;
  text-align: center;
}
.jumbo-game-card.active{
  border-radius: 20px;
  border: 3px solid #0061CB;
}
.jumbo-game-card img{
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}

/* motto section */
.play_motto{
  color: #0061CB;
}
.lv_img_play5{
  width: 100%;
}
#play5{
  width: 100%;
}

/* ps5 items */
.lv_card{
  text-align: center;
  border: none;
  cursor: pointer;
}
.lv_card img{
  width: 60%;
  margin: 0 auto;
}

/* middle jumbotron */
.jumbotron_middle{
  margin-top: 30px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.jumbo_img_middle{
  width: 250px
}
.lv_row_jumbo_middle{
  min-height: 500px;
  padding-bottom: 50px;
}

/* new games section */
.new-game-title, .lv_card_games{
  color: #fff;
}
.lv_card_games{
  border: none;
  cursor: pointer;
}
.lv_card_games img{
  border-radius: 20px;
}

/* ps plus section */
#logo_plus{
  width: 60%;
}
#ps_plus_free{
  width: 100%;
  height: 100%;
}

/* sales section */
.game_sales_card img{
  width: 100%;
}

/* social tab */
.row_social img{
  width: 100%;
  padding: 15px 0;
}

/* FOOTER */
#lng_globe{
  width: 20px;
}
#logo_sie{
  width: 150px;
}
.region_menu{
  font-size: 0.9rem
}
.links_footer dl dd a{
  color: #fff;
  text-decoration: none;
}
.links_footer{
  margin: 0 20px;
}



/* RESPONSIVE */
@media all and (min-width:576px) {
  #ps_plus_free{
    width: 80%;
  }
  #logo_plus{
    width: 60%;
  }
}