/* GLOBAL */
.content-container{
  width: 90%;
  margin: 0 auto;
  background-color:teal;
}

/* TUTTE LE ALTEZZE ATTUALI SONO PLACEHOLDER */

/* HEADER */
header{
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

.top-nav{
  height:50px;
  background-color:black;
}

.top-nav .sony-logo a{
  text-decoration:none;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

/* jumbotron */
.jumbotron {
  background-color:red;
  min-height: 550px;
}
.bot-jumbo{
  background-color:green;
  min-height: 200px;
}
.jumbo-game-card{
  background-color:blue;
  min-height: 150px;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
}

/* MAIN */
.section{
  background-color: lightblue;
  min-height: 200px;
  border: 1px solid black;
}
.title-box {
  background-color:red
}
.console-text {
  width: 50%;
  background-color:green;
  min-height: 200px;
}
.console-img {
  width: 50%;
  background-color: purple;
}
.ps-items{
  width: calc(100% / 5);
  /* padding: 0 50px; */
}
.ps-items .u-card{
  min-height: 200px;
  position: unset;
}
.jumbotron2{
  background-color:red;
  min-height: 550px;
}